//META{"name":"Bruh Button Emotes","description":"Change all Discord emotes to a bruh button","author":"Chev","version":"1.0.0"}*//
.emoji, .da-emojiItem, .da-spriteItem {
  	box-sizing: border-box;
	background: url("https://i.imgur.com/tL3jpys.png") center !important; /*Custom URL goes into url()!*/
}

.emoji {
  	padding-left: 32px;
}
